BasedOnStyle: Google
UseTab: Never
IndentWidth: 2
TabWidth: 2
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortLambdasOnASingleLine: false
SortIncludes: true
IndentCaseLabels: true
SpaceBeforeCaseColon: false
ColumnLimit: 100
AccessModifierOffset: -4
FixNamespaceComments: false
PointerAlignment: Middle
AlignConsecutiveMacros: AcrossEmptyLines
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterFunctionDefinitionName: false
  AfterFunctionDeclarationName: false
